<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        The kitchen is a room in a house or apartment where food is cooked and prepared.
        The kitchen can be a small room or it can be big with space for people to sit down and eat too. Most kitchens in the UK are situated at the back of the house, overlooking the back garden.
        A kitchen in an apartment can face out to any part of the building.
   <br/>
   We use the kitchen mainly for cooking and preparing food.
   But we also use it to make tea or coffee. To keep snacks or any other drinks.
   People might like to sit in the kitchen and drink tea or coffee together and chat about the day ahead.
   There is a common belief in England that people tend to congregate in kitchens during a party. Someone hosts a party and a group of people will stay in the kitchen as a place to socialise and talk together.
   <br/>
   Of course, there are many things in the kitchen that we use for cooking. Other things that we use for storing food and all the kitchen items too.
   
   <br/>



</p>

</div>
